asn1crypto==0.24.0
beautifulsoup4==4.7.1
bing==0.31
bs4==0.0.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.6.1
defusedxml==0.5.0
docopt==0.6.2
fake-useragent==0.1.11
Flask==1.0.2
Flask-WTF==0.14.2
google-images-download==2.5.0
grab==0.6.41
html-parser==0.2
idna==2.8
image-search==0.0.1
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.6.2
MarkupSafe==1.1.1
pathlib==1.0.1
Pillow==6.0.0
pipreqs==0.4.9
ply==3.11
pycparser==2.19
pycurl==7.43.0.2
pygame==1.9.4
pyOpenSSL==19.0.0
pytils==0.3
requests==2.21.0
selection==0.0.14
selenium==3.141.0
six==1.12.0
soupsieve==1.9.1
urllib3==1.24.1
user-agent==0.1.9
weblib==0.1.30
Werkzeug==0.15.1
WTForms==2.2.1
xlrd==1.2.0
yarg==0.1.9
